{%- render 'vite' with '@snippetStyles/_active-filters.scss' -%}

{% assign filters_applied = false %}
{%- assign filter_count = 0 -%}

{% capture applied_filters_list_collection %}
    <div class="active-filters__list">
        {%- for filter in collection.filters -%}
            {%- if filter.type == "price_range" -%}
                {%- assign has_range = false -%}
                {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                    {%- assign has_range = true -%}
                    <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                        <span>
                            {%- assign min_value = filter.min_value.value | default: 0 -%}
                            {%- assign max_value = filter.max_value.value | default: filter.range_max -%}{{- min_value | money -}}
                            <span>-</span>{{- max_value | money -}}
                        </span>
                    </a>
                    {% assign filters_applied = true %}
                {%- endif -%}
                {%- else -%}
                    {%- for filter_value in filter.active_values -%}
                        {%- if filter_value.label == 'In stock' -%}{% continue %}{%- endif %}
                        {%- assign filter_count = filter_count | plus: 1 -%}
                        <a class="active-filters__remove-filter filter-{{ filter_value.value | handleize}}" href="{{ filter_value.url_to_remove }}">
                            <span>{{ filter_value.label }}</span>
                        </a>
                        {% assign filters_applied = true %}
                    {%- endfor -%}
                {%- endif- %}
        {%- endfor -%}
    </div>
{% endcapture %}

{% capture applied_filters_list_search %}
    <div class="active-filters__list">
        {%- for filter in search.filters -%}
            {%- if filter.type == "price_range" -%}
                {%- assign has_range = false -%}
                {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                    {%- assign has_range = true -%}
                        <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                        <span>
                        {%- assign min_value = filter.min_value.value | default: 0 -%}
                        {%- assign max_value = filter.max_value.value | default: filter.range_max -%}{{- min_value | money -}}
                        <span>-</span>{{- max_value | money -}}
                        </span>
                        </a>
                {% assign filters_applied = true %}
                {%- endif -%}
                {%- else -%}
                    {%- for filter_value in filter.active_values -%}
                        {%- if filter_value.label == 'In stock' -%}{% continue %}{%- endif %}
                        {%- assign filter_count = filter_count | plus: 1 -%}
                        <a class="active-filters__remove-filter filter-{{ filter_value.value | handleize}}" href="{{ filter_value.url_to_remove }}">
                            <span>{{ filter_value.label }}</span>
                        </a>
                        {% assign filters_applied = true %}
                    {%- endfor -%}
                {%- endif- %}
        {%- endfor -%}
    </div>
{% endcapture %}

{% if filters_applied %}
    {% if request.page_type =="collection" %}
        {%- if filter_count >= 1 or has_range == true -%}
            <div class="active-filters-container">
                <div class="active-filters">
                    {{ applied_filters_list_collection }}
                </div>
            </div>
        {%- endif -%}
    {% else %}
        {%- if filter_count >= 1 or has_range == true -%}
            <div class="active-filters-container">
                <div class="active-filters">
                    {{ applied_filters_list_search }}
                </div>
            </div>
        {%- endif -%}
    {% endif %}
{% endif %}