{% if product.metafields.cake.product_colour_group != blank %}
  {% assign hex_codes = settings.product_colours | newline_to_br | strip_newlines | split: "<br />" %}
  {% assign total_swatches = 0 %}

  {% assign product_colour_group = product.metafields.cake.product_colour_group.value %}
  {% assign total_swatches = product_colour_group.products.value.size %}

  <div class="bundle-item-colour-swatches">
    <span class="colour-label">{{ 'products.product.colour' | t }}: {{ product.metafields.cake.colour_name }}</span>
    <div class="swatches">
        <ul class="product-colour-swatches">
            {% for alt_colour_product in product_colour_group.products.value limit: swatch_limit %}
                {% assign alt_colour = alt_colour_product.metafields.cake.colour_name | downcase %}
                {% assign alt_hex = '#000000' %}
                {% for color in hex_codes %}
                {%- assign label = color | split: ':' | first | downcase -%}
                {%- assign code = color | split: ':' | last -%}
                {% if label == alt_colour %}
                    {% assign alt_hex = code %}
                {% endif %}
                {% endfor %}
                {% if alt_colour_product.id == product.id %}<div class="current">{% endif %}
                <div aria-label="{{ alt_colour }}" data-handle="{{ alt_colour_product.handle }}" id="{{ alt_colour_product.id }}" class="swatch{% unless product.available %} unavailable{% endunless %}" href="{{ alt_colour_product.url }}" style="background-color: {{ alt_hex }}"></div>
                {% if alt_colour_product.id == product.id %}</div>{% endif %}
            {% endfor %}
        </ul>
    </div>
  </div>
{% endif %}
