<a aria-label="{{ article.title }}" href="{{ article.url }}" class="card-article">
    <div class="card-article__image">
        {% render 'responsive-image', width: 1000, source: article.image.src, alt: article.image.alt %}
        <div class="card-article__image-overlay" style="background:{{ section.settings.image_overlay }}"></div>
    </div>
    <div class="card-article__content">
        <span>{{ article.published_at | date: "%Y-%m-%d" }}</span>
        <h4 class="x-small">{{ article.title }}</h4>
        <div class="card-article__content-text">{{ article.excerpt_or_content | strip_html | truncatewords: 10 }}</div>
    </div>
</a>