{% if customer %}
    {% assign wishlistItems = customer.metafields.cake.wishlist_items.value %}
    {% assign productInWishlist = false %}
    {% assign productId = product.id %}
    {% if wishlistItems != empty %}
        {% for product in customer.metafields.cake.wishlist_items.value %}
            {% if product.id == productId %}
                {% assign productInWishlist = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{% assign enable_comparison = false %}
    {% for collection in product.collections %}
    {% if collection.metafields.cake.enable_product_comparison == true %}
        {% assign enable_comparison = true %}
        {% break %}
    {% endif %}
{% endfor %}

<div class="card-product">
    <div class="card-product__header">
        {% render 'product-badges', product: product %}
        <div>
            {% if enable_comparison and request.page_type == 'collection' %}
                <button class="product-comparison-toggle" type="button" data-product-handle="{{ product.handle }}" aria-label="{{ "products.product.comparison-toggle" | t }}">{% render 'icon-comparison.svg' %}</button>
            {% endif %}
            <button class="wishlist-toggle{% if customer %} active{% endif %}{% if productInWishlist == true %} added{% endif %}" data-id="{{ product.id }}" type="button" aria-label="{{ "products.product.wishlist" | t }}">
                {% render "icon-heart.svg" %}
                <span>{{ "products.product.wishlist" | t }}</span>
            </button>
        </div>
    </div>
    <a href="{{ product.url | within: 'collection' }}" class="card-product__media">
        {% render 'responsive-image', width: 640, source: product.images[0].src, alt: product.images[0].alt %}
    </a>
    <div class="card-product__footer">
        <p class="card-product__title">{{ product.title | truncatewords: 10 }}</p>
        {% render "product-colour-swatches", incoming_product: product, is_product_card: true %}
        <div class="card-product__footer-inner">
            {% render 'product-price', product: product %}
            <button id="quick-add" data-product-handle="{{ product.handle }}" aria-label="{{ 'products.product.add' | t }}" class="card-product__quick-add button-text button-text--transactional"><span>{{ 'products.product.add' | t }} +</span></button>
            <button id="compare-remove" data-product-handle="{{ product.handle }}" aria-label="{{ 'products.product.remove' | t }}" class="card-product__compare-remove button-text button-text--primary"><span>- {{ 'products.product.remove' | t }}</span></button>
        </div>
        {% if product.metafield.cake.announcement_text != blank %}
            <span class="card-product__footer-announcement">{{ product.metafield.cake.announcement_text }}</span>
        {% endif %}
    </div>
</div>

<a href="{{ product.url }}" type="button" class="button button--transactional card-product__comparison-button">
    {% render 'icon-cart.svg' %}
    <span class="button-price">{{ product.price | money }}</span>
    <span> {{ 'products.product.view_product' | t }}</span>
</a>