{%- render 'vite' with '@snippetStyles/_drawer-collection-header-description.scss' -%}

<div class="drawer drawer-collection-header-description" id="drawer-collection-header-description">
    <div class="inner">
        <button class="button button--no-styling drawer__header__close drawer-close" aria-label="{{ 'sections.collection.drawer.close' | t }}"><span>{{ 'sections.collection.drawer.close' | t }}</span>{% render "icon-cross.svg" %}</button>
        <div class="drawer__content drawer-collection-header-description__content">

            {% if collection.metafields.cake.collection_header_description_drawer_content != blank %}
                    <div>{{ collection.metafields.cake.collection_header_description_drawer_content | metafield_tag }}</div>
                {% else %}
                    {% if collection.description %}
                        <div>{{ collection.description | strip_html }}</div>
                    {% endif %}
            {% endif %}

            {% if collection.metafields.cake.collection_header_description_drawer_image != blank %}
                {{ collection.metafields.cake.collection_header_description_drawer_image | image_url: width: 820, crop: "center" | image_tag: alt: collection.title, loading: 'lazy' }}
            {% else %}
                {% if collection.image != blank %}
                    {{ collection.image.src | image_url: width: 820, crop: "center" | image_tag: alt: collection.image.alt, loading: 'lazy' }}
                    {% else %}
                        {% assign first_collection_product = collection.products.first %}
                        {% if first_collection_product %}
                             {{ first_collection_product.images[0].src | image_url: width: 820, crop: "center" | image_tag: alt: first_collection_product.images[0].alt, loading: 'lazy' }}
                        {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>