{%- render 'vite' with '@@/components/main-product-media.js' -%}
{%- render 'vite' with '@snippetStyles/_main-product-media.scss' -%}

<div class="main-product-media__navigation{% if product.type == "Gift Card" or product.type == "GIFTCARD" %} gift-card{% endif %}">
  <button class="button button--no-styling navigation-button prev">{% render 'icon-chevron.svg' %}</button>
  <button class="button button--no-styling navigation-button next">{% render 'icon-chevron.svg' %}</button>
  <button class="button button--no-styling button--primary navigation-zoom">{% render 'icon-search.svg' %}</button>
</div>

<div class="main-product-media{% if product.type == "Gift Card" or product.type == "GIFTCARD" %} gift-card{% endif %}">
  {% if product.images.size > 0 or product.media.size > 0 %}
      {% for media_item in product.media %}
        {% if media_item.media_type == 'image' %}
          <a
            href="{{ media_item.image | image_url: width: 5760, crop: 'center' }}"
            data-fancybox="product-gallery"
            data-type="image"
            class="main-product-media__image"
          >
            {{ media_item.image | image_url: width: 5760, crop: "center" | image_tag }}
          </a>
        {% elsif media_item.media_type == 'video' %}
          <a
            href="{{ media_item.sources[1].url }}"
            data-fancybox="product-gallery"
            data-type="video"
            class="main-product-media__video"
          >
            <video 
              muted
              autoplay
              playsinline 
              loop
              poster="{{ media_item.preview_image.src | image_url: width: 5760, crop: 'center' }}"
              width="100%" 
              height="auto"
            >
              <source 
                src="{{ media_item.sources[1].url }}"
                type="video/mp4"
              >
            </video>
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}
</div>
