{%- render 'vite' with '@@/components/main-product-media.js' -%}
{%- render 'vite' with '@snippetStyles/_main-product-media.scss' -%}

<div class="main-product-media__navigation{% if product.type == "Gift Card" or product.type == "GIFTCARD" %} gift-card{% endif %}">
  <button class="button button--no-styling navigation-button prev">{% render 'icon-chevron.svg' %}</button>
  <button class="button button--no-styling navigation-button next">{% render 'icon-chevron.svg' %}</button>
  <button class="button button--no-styling button--primary navigation-zoom">{% render 'icon-search.svg' %}</button>
</div>

<div class="main-product-media{% if product.type == "Gift Card" or product.type == "GIFTCARD" %} gift-card{% endif %}">
  <button type="button" class="button-text drawer-close">{% render 'icon-cross.svg' %}</button>

  {% if product.images.size > 0 or product.media.size > 0 %}
    {% for media_item in product.media %}
      {% if media_item.media_type == 'image' %}
        <div
          class="main-product-media__image"
          data-zoom-src="{{ media_item.image.src | image_url: width: 5760, crop: 'center' }}">
          {{ media_item.image.src | image_url: width: 5760, crop: "center" | image_tag }}
        </div>
      {% elsif media_item.media_type == 'video' %}
        <div class="main-product-media__video">
           <video 
                muted
                autoplay
                playsinline 
                loop
                poster="{{ media_item.preview_image.src | image_url: width: 5760, crop: 'center' }}"
                width="100%" 
                height="auto" 
                {% unless request.design_mode %}
                src="{{ media_item.sources[1].url }}"
                {% endunless %}
                >
                <source 
                    {% unless request.design_mode %}
                    src="{{ media_item.sources[1].url }}"
                    {% endunless %}
                    type="video/mp4"
                >
            </video>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
