<div class="price price-display" itemprop="offers" itemscope itemtype="https://schema.org/Offer" data-base="{{ product.price }}">
    {% if product.metafields.cake.bundle_car_seats != blank %}
        <span class="from">{{ "products.product.price_from" | t }} </span>
    {% endif %}
    {% if product.price_max > product.price_min %}
    <span class="from">{{ "products.product.price_from" | t }} </span>
    <span class="label-price" itemprop="price" content="{{ product.price | money }}" data-original="{{ product.price }}">
        {{- product.price | money -}}
    </span>
    <span class="compare"></span>
    {% else %}
    <span class="price" itemprop="price" content="{{ product.price | money }}">
        {% if product.compare_at_price > product.price %}<ins>{% endif %}
        {{- product.price | money -}}
        {% if product.compare_at_price > product.price %}</ins>{% endif %}
    </span>
    <span class="compare">
        {% if product.compare_at_price > product.price %}
        {%- assign savings = product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | ceil %}
        <span class="savings-badge">{{ "products.product.save" | t }} {{ savings }}%</span>
        <del>{% if request.page_type == 'product' %}({% endif %}<span class="compare-was">{{ "products.product.was" | t }} </span> {{- product.compare_at_price | money -}}{% if request.page_type == 'product' %}){% endif %}</del>
        {% endif %}
    </span>
    {% endif %}
</div>