{% if incoming_product.metafields.cake.product_colour_group != blank %}
  {% assign hex_codes = settings.product_colours | newline_to_br | strip_newlines | split: "<br />" %}
  {% assign total_swatches = 0 %}

  {% assign product_colour_group = incoming_product.metafields.cake.product_colour_group.value %}
  {% assign total_swatches = product_colour_group.products.value.size %}

  {% if is_product_card %}
    {% assign swatch_limit = 3 %}
  {%  elsif is_product_feature %}
    {% assign swatch_limit = 4 %}
  {% else %}
    {% assign swatch_limit = total_swatches %}
  {% endif %}

  <div class="section-main-product__content-colours{% if is_product_card or is_product_feature %} card{% endif %}">
    <span class="colour-label">{{ 'products.product.colour' | t }}: {{ product.metafields.cake.colour_name }}</span>
    <div class="swatches">
        <ul class="product-colour-swatches">
            {% for alt_colour_product in product_colour_group.products.value limit: swatch_limit %}
                {% assign alt_colour = alt_colour_product.metafields.cake.colour_name | downcase %}
                {% assign alt_hex = '#000000' %}
                {% for color in hex_codes %}
                {%- assign label = color | split: ':' | first | downcase -%}
                {%- assign code = color | split: ':' | last -%}
                {% if label == alt_colour %}
                    {% assign alt_hex = code %}
                {% endif %}
                {% endfor %}
                {% if alt_colour_product.id == incoming_product.id %}<div class="current">{% endif %}
                <a aria-label="{{ alt_colour }}" id="{{ alt_colour_product.id }}" class="swatch{% unless alt_colour_product.available %} unavailable{% endunless %}" href="{{ alt_colour_product.url }}" style="background-color: {{ alt_hex }}"></a>
                {% if alt_colour_product.id == incoming_product.id %}</div>{% endif %}
            {% endfor %}
        </ul>

        {% if is_product_card and total_swatches > swatch_limit or is_product_feature and total_swatches > swatch_limit %}
        <span class="product-colour-swatches__extra">+{{ total_swatches | minus: swatch_limit }} {{ total_swatches | pluralize: 'Colour', 'Colours' }}</span>
        {% endif %}
    </div>
  </div>
{% endif %}
