<!doctype html>
<html class="h-full" lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'meta-tags' %}
    {%- render 'meta-social' %}
    {%- render "meta-colors" %}

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11040383367"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-11040383367');
      </script>
    <!-- Google tag (gtag.js) -->

    <!-- global scripts & styles -->
    {%- liquid
      render 'vite' with 'theme.scss'
      render 'vite' with 'theme.js'
    -%}

    <!-- SEO -->
    {% if settings.favicon != blank -%}
          <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: "32x32", crop: "center" }}">
          <link rel="icon" type="image/png" sizes="48x48" href="{{ settings.favicon | img_url: "48x48", crop: "center" }}">
          <link rel="icon" type="image/png" sizes="64x64" href="{{ settings.favicon | img_url: "64x64", crop: "center" }}">
          <link rel="icon" type="image/png" sizes="128x128" href="{{ settings.favicon | img_url: "128x128", crop: "center" }}">
          {% else %}
          <link rel="icon" type="image/png" sizes="16x16" href="{{ "placeholder-favicon.png" | asset_url }}">
    {%- endif %}

    {{ content_for_header }}

    <!-- global variables -->
    <script>
      Shopify.money_format = '{{ shop.money_format }}';
      const label_add_to_cart = "{{ 'products.product.add_to_cart' | t }}";
      const label_preorder = "{{ 'products.product.preorder' | t }}";
      const label_choose_options = "{{ 'products.product.choose_options' | t }}";
      const label_unavailable = "{{ 'products.product.unavailable' | t }}";
      const label_sold_out = "{{ 'products.product.sold_out' | t }}";
      const product_card_placeholder_button_text = "{{ 'products.product.add_another_product' | t }}";
    </script>
  </head>

  <!-- Wishlist -->
  {% if customer.id != null %}
      {%- capture message %}{{ customer.id }}:{{ "now" | date: "%Y-%m" }}:{{ shop.permanent_domain }}{% endcapture -%}
      {%- assign secret_key = shop.metafields.cake.wishlist_secret -%}
      {%- assign customer_api_token = message | hmac_sha256: secret_key -%}
  {% endif %}

  <script>
        const cake = { 
            currency: "{{ cart.currency.iso_code }}",
            customer_id: {{ customer.id | json }},
            customer_api_token: "{{ customer_api_token }}"
        };
    </script>

  <body class="template-{{ template | handleize }}">

    {% sections 'header-group' %}
    {% section "cart-drawer" %}
  
    <main>
      {{ content_for_layout }}
    </main>

    {% if request.page_type == "collection" or request.page_type == "search" %}
      {% section "drawer-filters" %}
    {% endif %} 

    {% if request.page_type == "collection" %}
      {% render "floating-product-comparison-counter" %}
    {% endif %} 

    <div id="overlay-mask"></div>

    {% sections 'footer-group' %}

    {% render "drawer-quick-add" %}

    {% unless request.page_type == 'cart' %}
      {% render "drawer-cart" %}
    {% endunless %}

      <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
      <script>
          var klaviyo = klaviyo || [];
          klaviyo.init({
          account: "{{ settings.klaviyo_company_id }}",
          platform: "shopify"
          });
          klaviyo.enable("backinstock",{ 
          trigger: {
          product_page_text: "Notify Me When Available",
          product_page_class: "button--add-to-cart",
          product_page_text_align: "center",
          product_page_margin: "0px",
          replace_anchor: true,
          },
          modal: {
          headline: "{product_name}",
          body_content: "Register to receive a notification when this item comes back in stock.",
          email_field_label: "Email",
          button_label: "Notify me when available",
          subscription_success_label: "You're in! We'll let you know when it's back.",
          footer_content: '',
          drop_background_color: "#000",
          background_color: "#FFFEF9",
          text_color: "#1F2535",
          button_text_color: "#FFFEF9",
          button_background_color: "#A48B62",
          close_button_color: "#1F2535",
          error_background_color: "#FFFEF9",
          error_text_color: "#692218",
          success_background_color: "#A48B62",
          success_text_color: "#FFFEF9"
          }
        });
    </script>
  </body>
</html>