{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

{% if section.settings.blog != blank %}
    {%- render 'vite' with '@sectionStyles/_blog-showcase.scss' -%}

    <div class="wrap wrap--x-large wrap--{{ section_id }}">
        <div class="section-blog-showcase__header">
            {% if section.settings.title != blank %}
                <{{ section.settings.tag }} style="color: {{ section.settings.title_color }}">{{ section.settings.title }}</{{ section.settings.tag }}>
            {% else %}
                <{{ section.settings.tag }} style="color: {{ section.settings.title_color }}">{{ section.settings.blog.title }}</{{ section.settings.tag }}>
            {% endif %}
        </div>
        <div class="section-blog-showcase__inner">
            <div class="section-blog-showcase__feature" style="background-color: {{ section.settings.feature_background_color }};">
                {% if section.settings.feature_title != blank and section.settings.feature_text != blank %}
                    <h4 style="color: {{ section.settings.feature_text_color }}">{{ section.settings.feature_title }}</h4>
                    <div style="color: {{ section.settings.feature_text_color }}">{{ section.settings.feature_text }}</div>
                    {% if section.settings.feature_link != blank and section.settings.feature_link_label != blank %}
                        {% if section.settings.feature_link_style == 'solid' %}
                            <a class="button button--{{ section.settings.feature_link_color }}" href="{{ section.settings.feature_link }}"><span>{{ section.settings.feature_link_label }}</span></a>
                        {% else %}
                            <a class="button-text button-text--{{ section.settings.feature_link_color }}" href="{{ section.settings.feature_link }}"><span>{{ section.settings.feature_link_label }}</span></a>
                        {% endif %}
                    {% endif %}
                    {% if section.settings.feature_image != blank %}
                        {% render 'responsive-image', width: 1400, source: section.settings.feature_image.src, alt: section.settings.feature_image.alt %}
                        <div class="image-overlay" style="background:{{ section.settings.feature_image_overlay }}"></div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="section-blog-showcase__wrap">
                <div class="section-blog-showcase__articles">
                    {% if section.settings.showcase_articles != blank %}
                        {% for article in section.settings.showcase_articles %}
                            {% render 'card-article-condensed', article: article %}
                        {% endfor %}
                        {% else %}
                            {% for article in section.settings.blog.articles limit: 3 %}
                                {% render 'card-article-condensed', article: article %}
                            {% endfor %}
                    {% endif %}
                </div>
                <div class="section-blog-showcase__action">
                    <a class="button-text button-text--black" aria-label="{{ section.settings.blog.title }}" href="{{ section.settings.blog.url }}">{{ section.settings.blog_link_title }}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "Blog Showcase",
    "tag": "section",
    "class": "section-blog-showcase",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Section Title Here"
        },
        {
            "type": "select",
            "id": "tag",
            "label": "Tag",
            "options": [
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                }
            ],
            "default": "h3"
        },
        {
            "type": "select",
            "id": "title_color",
            "label": "Title Colour",
            "options": [
                {
                    "label": "White",
                    "value": "var(--color-white)"
                },
                {
                    "label": "Grey",
                    "value": "var(--color-grey)"
                },
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                },
                {
                    "label": "Heritage",
                    "value": "var(--color-heritage)"
                }
            ],
            "default": "var(--color-primary)"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "article_list",
            "id": "showcase_articles",
            "label": "Articles",
            "limit": 3,
            "info": "Will override blog articles if set"
        },
        {
            "type": "text",
            "id": "blog_link_title",
            "label": "Blog Link Title",
            "default": "Blog Link Label"
        },
        {
            "type": "header",
            "content": "Feature"
        },
        {
            "type": "text",
            "id": "feature_title",
            "label": "Title",
            "default": "Your title here"
        },
        {
            "type": "textarea",
            "id": "feature_text",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        },
        {
            "type": "select",
            "id": "feature_text_color",
            "label": "Text Colour",
            "options": [
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                },
                {
                    "label": "Transactional",
                    "value": "var(--color-transactional)"
                },
                {
                    "label": "White",
                    "value": "var(--color-white)"
                }
            ],
            "default": "var(--color-white)"
        },
        {
            "type": "image_picker",
            "id": "feature_image",
            "label": "Feature Image",
            "info": "If set will override background colour"
        },
        {
            "type": "select",
            "id": "feature_background_color",
            "label": "Feature Background Color",
            "options": [
                {
                    "label": "White",
                    "value": "var(--color-white)"
                },
                {
                    "label": "Grey",
                    "value": "var(--color-grey)"
                },
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                }
            ],
            "default": "var(--color-grey)"
        },
        {
            "type": "color_background",
            "id": "feature_image_overlay",
            "label": "Image Overlay",
            "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 100%)"
        },
        {
            "type": "url",
            "id": "feature_link",
            "label": "Link"
        },
        {
            "type": "text",
            "id": "feature_link_label",
            "label": "Link Label",
            "default": "Label"
        },
        {
            "type": "select",
            "id": "feature_link_style",
            "label": "Link Style",
            "options": [
                {
                    "label": "Solid",
                    "value": "solid"
                },
                {
                    "label": "Text",
                    "value": "text"
                }
            ],
            "default": "solid"
        },
        {
            "type": "select",
            "id": "feature_link_color",
            "label": "Link Colour",
            "options": [
                {
                    "label": "Primary",
                    "value": "primary"
                },
                {
                    "label": "Secondary",
                    "value": "secondary"
                },
                {
                    "label": "Tertiary",
                    "value": "tertiary"
                },
                {
                    "label": "Transactional",
                    "value": "transactional"
                },
                {
                    "label": "White",
                    "value": "white"
                }
            ],
            "default": "white"
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ],
    "presets": [
        {
            "name": "Blog Showcase"
        }
    ]
}
{% endschema %}