{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

{% if section.blocks.size > 1 %}
    {%- render 'vite' with '@sectionStyles/_collections-slider.scss' -%}
    {%- render 'vite' with '@@/components/collections-slider.js' -%}

    <div class="section-collections-slider__container" style="background-color: {{ section.settings.background_color }};">
        <div class="wrap wrap--{{ section_id }}">
            <div class="section-collections-slider__inner">
                <div class="section-collections-slider__header">
                    {% if section.settings.title != blank %}
                        <{{ section.settings.tag }} class="medium">{{ section.settings.title }}</{{ section.settings.tag }}>
                    {% else %}
                        <{{ section.settings.tag }} class="medium">{{ section.settings.collection.title }}</{{ section.settings.tag }}>   
                    {% endif %}
                    {% if section.settings.label != blank %}
                        <a class="button-text button-text--primary" aria-label="{{ section.settings.link_label }}" href="{{ section.settings.link }}"><span>{{ section.settings.link_label }}</span></a>
                    {% endif %}
                </div>
                <div class="section-collections-slider__slider">
                    <div class="swiper swiper-{{ section_id }}">
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                                {% if block.settings.collection == blank %}{% continue %}{% endif %}
                                <div class="swiper-slide">
                                    <div class="section-collections-slider__slider-slide">
                                       <a class="image-wrapper" aria-label="{{ block.settings.collection.title }}" href="{{ block.settings.collection.url }}">
                                            {% if block.settings.image != blank %}
                                                {% render 'responsive-image', width: 960, source: block.settings.image.src, alt: block.settings.image.alt  %}
                                            {% elsif block.settings.collection.image != blank %}
                                                {% render 'responsive-image', width: 960, source: block.settings.collection.image.src, alt: block.settings.collection.image.alt  %}
                                            {% endif %}
                                            <div class="image-overlay" style="background:{{ block.settings.image_overlay }}"></div>
                                       </a>
                                        <div class="slide-footer">
                                            {% if block.settings.title != blank %}
                                                <p>{{ block.settings.title }}</p>
                                            {% else %}
                                               {{ block.settings.collection.title }}
                                            {% endif %}
                                            <a class="button-text button-text--primary" aria-label="{{ block.settings.collection.title }}" href="{{ block.settings.collection.url }}"><span>{{ 'sections.collection.shop_now' | t }}</span></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-navigation">
                        <div class="swiper-button-prev swiper-button-prev-{{ section_id }}"></div>
                        <div class="swiper-button-next swiper-button-next-{{ section_id }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            window.init_collections_slider({{ section_id | json }});
        });
        if (Shopify.designMode) {
            document.addEventListener('shopify:section:load', function() {
                window.init_collections_slider({{ section_id | json }});
            });
        };
    </script>

{% endif %}

{% schema %}
{
    "name": "Collections Slider",
    "tag": "section",
    "class": "section-collections-slider",
    "blocks": [
        {
            "name": "Collection",
            "type": "collection",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "Overrides default collection image"
                },
                {
                    "type": "color_background",
                    "id": "image_overlay",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "info": "Overrides default collection title"
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Shop by Category"
        },
        {
            "type": "select",
            "id": "tag",
            "label": "Tag",
            "options": [
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                }
            ],
            "default": "h3"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "text",
            "id": "link_label",
            "label": "Link Label",
            "default": "Shop All"
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "options": [
                {
                    "label": "White",
                    "value": "var(--color-white)"
                },
                {
                    "label": "Grey",
                    "value": "var(--color-grey)"
                },
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                },
                {
                    "label": "Heritage",
                    "value": "var(--color-heritage)"
                }
            ],
            "default": "var(--color-grey)"
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ],
    "presets": [
        {
            "name": "Collections Slider"
        }
    ]
}
{% endschema %}