{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

{%- render 'vite' with '@sectionStyles/_b-block.scss' -%}

<div class="section-b-block__container" style="background-color: {{ section.settings.background_color }};">
    <div class="wrap wrap--{{ section.settings.width}} wrap--{{ section_id }}">
        <div class="section-b-block__inner">
            {% if collection.metafields.cake.b_block_title != blank %}
            <div class="section-b-block__inner-title">
                <{{ section.settings.tag }} style="color: {{ section.settings.text_color }}" class="medium">{{ collection.metafields.cake.b_block_title }}</{{ section.settings.tag }}>
            </div>
            {% endif %}
            {% if collection.metafields.cake.b_block_text != blank %}
                <div class="section-b-block__inner-text" style="color: {{ section.settings.text_color }}">{{ collection.metafields.cake.b_block_text | metafield_tag }}</div>
            {% endif %}
            {% if collection.metafields.cake.b_block_links.value != blank %}
                <div class="section-b-block__inner-links">
                    {% for link in collection.metafields.cake.b_block_links.value %}
                        <a class="button-text button-text--primary" href="{{ link.url }}"><span style="color: {{ section.settings.text_color }}">{{ link.text }}</span></a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Collection B-block",
    "tag": "section",
    "class": "section-b-block",
    "settings": [
        {
            "type": "select",
            "id": "tag",
            "label": "Tag",
            "options": [
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                }
            ],
            "default": "h3"
        },
        {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
                {
                    "value": "medium",
                    "label": "Small"
                },
                {
                    "value": "large",
                    "label": "Medium"
                    
                },
                {
                    "value": "x-large",
                    "label": "Large"
                },
                {
                    "value": "xx-large",
                    "label": "Full"
                }
            ],
            "default": "medium"
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Colour",
            "options": [
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                },
                {
                    "label": "Transactional",
                    "value": "var(--color-transactional)"
                },
                {
                    "label": "Black",
                    "value": "var(--color-black)"
                },
                {
                    "label": "White",
                    "value": "var(--color-white)"
                }
            ],
            "default": "var(--color-primary)"
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "options": [
                {
                    "label": "White",
                    "value": "var(--color-white)"
                },
                {
                    "label": "Grey",
                    "value": "var(--color-grey)"
                },
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                }
            ],
            "default": "var(--color-white)"
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ],
    "presets": [
        {
            "name": "Collection B-block"
        }
    ]
}
{% endschema %}