{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

{% if customer %}
    {% assign wishlistItems = customer.metafields.cake.wishlist_items.value %}
    {% assign productInWishlist = false %}
    {% assign productId = product.id %}
    {% if wishlistItems != empty %}
        {% for product in customer.metafields.cake.wishlist_items.value %}
            {% if product.id == productId %}
                {% assign productInWishlist = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{% if section.settings.feature_product != blank %}
    {%- render 'vite' with '@sectionStyles/_featured-product.scss' -%}
    {% assign feature_product = section.settings.feature_product %}

    <div class="section-featured-product__container" style="background-color: {{ section.settings.background_color }};">
        <div class="wrap wrap--x-large wrap--{{ section_id }}">
            <div class="section-featured-product__inner">
                <div class="section-featured-product__inner-media">
                    {% if section.settings.image != blank %}
                    <div class="image-wrapper">
                        {% render 'responsive-image', width: 1800, source: section.settings.image.src, alt: section.settings.image.alt %}
                    </div>
                    {% elsif section.settings.video != blank %}
                        <div class="video-wrapper">
                            <video
                                muted
                                loop
                                playsinline
                                autoplay
                                poster="{{ section.settings.video.preview_image.src | img_url: 'master' }}"
                                width="{{ section.settings.video.sources[1].width }}"
                                height="{{ section.settings.video.sources[1].height }}"
                                data-video
                            >
                                <source src="{{ section.settings.video.sources[1].url }}" type="video/mp4">
                            </video>
                        </div>
                    {% endif %}
                    <div class="image-overlay" style="background:{{ section.settings.image_overlay }}"></div>
                </div>
                <div class="section-featured-product__inner-content">
                    <div class="section-featured-product__card">
                        <div class="section-featured-product__card-media">
                            <button class="wishlist-toggle{% if customer %} active{% endif %}{% if productInWishlist == true %} added{% endif %}" data-id="{{ feature_product.id }}" type="button" aria-label="{{ "products.product.wishlist" | t }}">
                                {% render "icon-heart.svg" %}
                                <span>{{ "products.product.wishlist" | t }}</span>
                            </button>
                        {% if feature_product.images != blank %}
                            <a href="{{ feature_product.url }}" aria-label="{{ produce.title }}">
                                {% render 'responsive-image', width: 800, source: feature_product.images[0].src, alt: feature_product.images[0].alt %}
                            </a>
                        {% endif %}
                        </div>
                        <div class="section-featured-product__card-content">
                            {% render "product-badges", product: feature_product %}
                            <p>{{ feature_product.title }}</p>
                            <div class="price-swatches-wrap">
                                {% render 'product-price', product: feature_product %}
                                {% render "product-colour-swatches", product: feature_product, is_product_feature: true %}
                            </div>
                            <button id="quick-add" data-product-handle="{{ feature_product }}" aria-label="{{ 'products.product.add' | t }}" class="card-product__quick-add button button--transactional"><span>{{ feature_product.price | money }} - {{ 'products.product.add_to_cart' | t }}</span></button>
                        </div>
                    </div>
                    {% if section.blocks.size > 0 %}
                    <ul class="section-featured-product__usps">
                            <div class="section-featured-product__usps-track">
                                {% for block in section.blocks %}
                                {% if block.settings.text == blank %}{% continue %}{% endif %}
                                <li class="section-featured-product__usps-item">{{ block.settings.text }}</li>
                                {% endfor %}
                            </div>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "Featured Product",
    "tag": "section",
    "class": "section-featured-product",
    "blocks": [
        {
            "name": "Bullet",
            "type": "bullet",
            "limit": 8,
            "settings": [
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text",
                    "default": "Featured product text here"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "product",
            "id": "feature_product",
            "label": "Featured Product"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Will override video"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        },
        {
            "type": "color_background",
            "id": "image_overlay",
            "label": "Image / Video Overlay"
        },
         {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "options": [
                {
                    "label": "White",
                    "value": "var(--color-white)"
                },
                {
                    "label": "Grey",
                    "value": "var(--color-grey)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                }
            ],
            "default": "var(--color-white)"
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ],
    "presets": [
        {
            "name": "Featured Product"
        }
    ]
}
{% endschema %}