<div class="section-header__inner{% if template.name == 'index' %} section-header__inner--index{% endif %}">
    <div class="section-header__top">

        <div class="section-header__mobile">
            <button type="button">
                {% render 'icon-menu.svg' %}
            </button>
        </div>

        <div class="section-header__search">
            <button id="header-search-toggle" type="button" aria-label="{{ "search.title" | t }}">
                {% render "icon-search.svg" %}
                <span>{{ "search.placeholder" | t }}</span>
            </button>
        </div>

        <div class="section-header__branding">
            <h1 style="display: none;">{{ page_title }}</h1>
            {% if section.settings.logo != blank %}
                <a aria-label="{{ shop.name }}" href="{{ routes.root_url }}">
                    {{ section.settings.logo.src | image_url: width: 600 | image_tag: alt: image.alt, width: 200 }}
                </a>
            {% endif %}
        </div>

        <div class="section-header__actions">
            <a class="section-header__actions-account" aria-label="{{ 'general.menu.account' | t }}" href="{{ routes.account_url }}">{% render 'icon-account.svg' %}<span>{{ 'general.menu.account' | t }}</span></a>
            <a class="section-header__actions-wishlist" aria-label="{{ 'general.menu.wishlist' | t }}" href="{{ routes.root_url }}pages/wishlist">{% render 'icon-heart.svg' %}<span>{{ 'general.menu.wishlist' | t }}</span></a>
            <button class="section-header__actions-search" id="header-search-toggle" type="button" aria-label="{{ "search.title" | t }}">
                {% render "icon-search.svg" %}
                <span>{{ "search.placeholder" | t }}</span>
            </button>
            <div class="section-header__actions-cart">
                <button aria-label="{{ 'general.menu.cart' | t }}" type="button"><span>{{ 'general.menu.cart' | t }}</span>{% render 'icon-cart.svg' %}</button>
                <span id="cart-counter"><span class="count"></span></span></a>
            </div>
        </div>
    </div>

    <div class="section-header__navigation">
        {% render 'menu-desktop', blocks: section.blocks %}
    </div>
</div>

{% render "drawer-search" %}

{% schema %}
    {
        "name": "Header",
        "tag": "header",
        "class": "section-header",
        "blocks": [
            { 
                "type": "link",
                "name": "Link",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Label",
                        "default": "Label"
                    },
                    {
                        "type": "url",
                        "id": "url",
                        "label": "Link"
                    }
                ]
            },
            {
                "type": "mega_2",
                "name": "Menu",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Label",
                        "default": "Label"
                    },
                    {
                        "type": "url",
                        "id": "url",
                        "label": "Link"
                    },
                    {
                        "type": "link_list",
                        "id": "menu",
                        "label": "Menu"
                    },
                    {
                        "type": "header",
                        "content": "Feature 1"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_1",
                        "label": "Image"
                    },
                    {
                        "type": "url",
                        "id": "url_1",
                        "label": "Link"
                    },
                    {
                        "type": "text",
                        "id": "title_1",
                        "label": "Link Title"
                    },
                    {
                        "type": "text",
                        "id": "text_1",
                        "label": "Link Text"
                    },
                    {
                        "type": "header",
                        "content": "Feature 2"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_2",
                        "label": "Image"
                    },
                    {
                        "type": "url",
                        "id": "url_2",
                        "label": "Link"
                    },
                    {
                        "type": "text",
                        "id": "title_2",
                        "label": "Link Title"
                    },
                    {
                        "type": "text",
                        "id": "text_2",
                        "label": "Link Text"
                    }
                ]
            },
            {
                "type": "brands",
                "name": "Menu: Brands",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Label",
                        "default": "Label"
                    },
                    {
                        "type": "header",
                        "content": "Featured Brands Settings"
                    },
                    {
                        "type": "text",
                        "id": "featured_brands_title",
                        "label": "Featured Brands Title",
                        "default": "Our Featured Brands"
                    },
                    {
                        "type": "metaobject_list",
                        "id": "featured_brands",
                        "label": "Featured Brands",
                        "metaobject_type": "featured_brands",
                        "limit": 6
                    },
                    {
                        "type": "header",
                        "content": "Desktop Settings"
                    },
                    {
                        "type": "url",
                        "id": "url",
                        "label": "Link"
                    },
                    {
                        "type": "text",
                        "id": "desktop_text",
                        "label": "Desktop Link Text",
                        "default": "See Brand Directory"
                    },
                    {
                        "type": "header",
                        "content": "Mobile Settings"
                    },
                    {
                        "type": "text",
                        "id": "mobile_link_text",
                        "label": "Link Text",
                        "default": "Shop All Brands"
                    },
                    {
                        "type": "url",
                        "id": "mobile_link",
                        "label": "Link"
                    }
                ]
            }
        ],
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            }
        ]
    }
{% endschema %}
