{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}

{%- render 'vite' with '@sectionStyles/_main-product.scss' -%}
{%- render 'vite' with '@@/components/main-product.js' -%}

{% assign product_type = product.type | handle %}

{% if customer %}
    {% assign wishlistItems = customer.metafields.cake.wishlist_items.value %}
    {% assign productInWishlist = false %}
    {% assign productId = product.id %}
    {% if wishlistItems != empty %}
        {% for product in customer.metafields.cake.wishlist_items.value %}
            {% if product.id == productId %}
                {% assign productInWishlist = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

<div class="wrap wrap--no-padding wrap--{{ section_id }}">
    <div class="section-main-product__inner">
        <div class="section-main-product__media{% if product.type == "Gift Card" or product.type == "GIFTCARD" %} gift-card{% endif %}">
            <!--[product-media]-->
            <div class="section-main-product__badges">
                {% render 'product-badges', product: product, unlimited: true %}
                <button class="wishlist-toggle{% if customer %} active{% endif %}{% if productInWishlist == true %} added{% endif %}" data-id="{{ product.id }}" type="button" aria-label="{{ "products.product.wishlist" | t }}">
                    {% render "icon-heart.svg" %}
                    <span>{{ "products.product.wishlist" | t }}</span>
                </button>
            </div>
            {% render 'main-product-media', product: product %}
            <!--[/product-media]-->
        </div>
        <!--[product-details]-->
        <div class="section-main-product__content">
            {% form 'product', product, class: 'product-form product-form-main' %}
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when "breadcrumbs" %}
                            <div class="section-main-product__content-breadcrumbs">
                                {% render 'breadcrumbs' %}
                            </div>
                        {% when "usps" %}
                            {% if product.metafields.cake.product_usps != blank %}
                                {% assign usps = product.metafields.cake.product_usps.value.entries.value %}
                                <ul class="section-main-product__content-usps">
                                    {% for usp in usps %}
                                        <li>{{ usp.icon | image_url: width: 42 | image_tag }}<span>{{ usp.text }}</span></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}   
                            {% when "title_price" %}
                                <div class="section-main-product__content-title-price">
                                    <h1 class="medium">{{ product.title }}</h1>
                                    {% render 'product-price', product: product %}
                                </div>
                        {% when "description" %}
                            {% if product.metafields.cake.short_description != blank %}
                                <div class="section-main-product__content-description">
                                    <div>{{ product.metafields.cake.short_description | metafield_tag }}</div>
                                    <button id="product-description-toggle" data-product-url="{{ product.handle }}" type="button" class="button-text button-text--primary"><span style="pointer-events: none;">{{ "accessibility.read_more" | t }}</span></button>
                                </div>
                            {% endif %}
                        {% when "colours" %}
                            {% render "product-colour-swatches", product: product %}
                        {% when "variants" %}
                            {% if product.has_only_default_variant %}
                                <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
                                {% if product.selected_or_first_available_variant.metafields.cake.preorder == true %}
                                    <input id="preorder" type="hidden" name="properties[_preorder]" value="true">
                                {% endif %}
                            {% else %}
                                <div class="section-main-product__content-variants">
                                    {% if product.type == "Gift Card" or product.type == "GIFTCARD" %}
                                        {% render 'product-variants-radios', product: product %}
                                    {% else %}
                                        {% render 'product-variants-select', product: product %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% when "actions" %}
                            <div class="section-main-product__content-actions">
                                {% render 'product-actions', product: product %}
                            </div>
                        {% when "message" %}  
                           {% if block.settings.message != blank %}
                                <div class="section-main-product__content-message">
                                    {{ block.settings.message }}
                                </div>
                           {% endif %}
                        {% when "payment_icons" %} 
                            <div class="section-main-product__content-payment">
                                {% render 'payment-icons' %} 
                            </div>
                        {% when "gift_card" %} 
                            {% if product.type == "Gift Card" or product.type == "GIFTCARD" %}

                                {% assign current_day = "now" | date: "%s" %}
                                {% assign future_day = current_day | plus: 7689600 %}
                                {% assign tomorrow = current_day | plus: 86400 %}

                                <div class="section-main-product__content-gift-card">
                                    <div class="recipient-select">
                                        <div class="recipient-select__buttons">
                                            <button type="button" class="button-text button-text--primary" data-target="me" aria-label="{{ "products.gift_voucher.for_them" | t }}">
                                                <span>{{ "products.gift_voucher.for_me" | t }}</span>
                                            </button>
                                            <button type="button" class="button-text button-text--primary active" data-target="them" aria-label="{{ "products.gift_voucher.for_them" | t }}">
                                                <span>{{ "products.gift_voucher.for_them" | t }}</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="recipient-details form active">
                                        <input type="hidden" class="recipient-enable" name="properties[__shopify_send_gift_card_to_recipient]" value="true">
                                        <div class="form-row form-row--split">
                                            <label>{{ "products.gift_voucher.name" | t }}</label>
                                            <input type="text" name="properties[Recipient name]" maxlength="100">
                                        </div>
                                        <div class="form-row form-row--split">
                                            <label class="required">{{ "products.gift_voucher.email" | t }}</label>
                                            <input type="email" name="properties[Recipient email]" required>  
                                            <p class="email-alert">{{ "products.gift_voucher.email_alert" | t }}</p>
                                        </div>
                                        <div class="form-row form-row--full">
                                            <label>{{ "products.gift_voucher.message" | t }}</label>
                                            <textarea name="properties[Message]" maxlength="200"></textarea>
                                        </div>
                                        <div class="form-row send-on-row form-row--full">
                                            <label for="send-on-date">{{ "products.gift_voucher.send_on" | t }}:</label>
                                            <div class="date-input-wrapper">
                                                <input
                                                type="date"
                                                id="send-on-date"
                                                name="properties[Send on]"
                                                value="{{ tomorrow | date: "%Y-%m-%d" }}"
                                                min="{{ current_day | date: "%Y-%m-%d" }}"
                                                max="{{ future_day | date: "%Y-%m-%d" }}"
                                                >
                                                <span class="date-chevron" tabindex="0">
                                                {% render 'icon-chevron.svg' %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {%- render 'vite' with '@@/components/gift-card.js' -%}

                            {% endif %}
                        {% when "notifications" %}  
                            <div class="section-main-product__content-notifications">
                                {% render 'product-notifications', product: product %}
                            </div>
                        {% when "options" %}
                            {% render 'product-options', product: product %}
                        {% when "car_seats_bundle" %}
                            <div class="section-main-product__content-bundle">
                                {% if product.metafields.cake.bundle_car_seats != blank %}
                                    {% render 'product-bundle-car-seats', product: product, is_bundle_product: true, main_product_price: product.price | json, main_product_id: product.selected_or_first_available_variant.id %}
                                {% endif %}
                            </div>
                        {% endcase %}
                {% endfor %}
                {% render 'main-product-sticky-add', product: product %}
            {% endform %}
            {% render "product-accordions", product: product %}
        </div>
        <!--[/product-details]-->
    </div>
</div>

<script>
    window.cake_product_handle = {{ product.handle | json }};
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
        "image": [
        {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
        ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
    },
    {% comment %} "offers": [
        {%- for variant in product.variants -%}
        {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
    ] {% endcomment %}
}
</script>

{% schema %}
{
    "name": "Main Product",
    "tag": "section",
    "class": "section-main-product",
    "blocks": [
        {
            "type": "breadcrumbs",
            "name": "Breadcrumbs",
            "limit": 1
        },
        {
            "type": "title_price",
            "name": "Title / Price",
            "limit": 1
        },
        {
            "type": "usps",
            "name": "Product USPs",
            "limit": 1
        },
        {
            "type": "description",
            "name": "Short Description",
            "limit": 1
        },
        {
            "type": "colours",
            "name": "Colours",
            "limit": 1
        },
        {
            "type": "variants",
            "name": "Variants",
            "limit": 1
        },
        {
            "type": "actions",
            "name": "Actions",
            "limit": 1
        },
        {
            "type": "message",
            "name": "Message",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "message",
                    "label": "Message"
                }
            ]
        },
        {
            "type": "payment_icons",
            "name": "Icons",
            "limit": 1
        },
        {
            "type": "notifications",
            "name": "Notifications",
            "limit": 1
        },
        {
            "type": "options",
            "name": "Options",
            "limit": 1
        },
        {
            "type": "gift_card",
            "name": "Gift Card",
            "limit": 1
        },
        {
            "type": "car_seats_bundle",
            "name": "Car Seats Bundle",
            "limit": 1
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 120
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 120
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 86
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 132
        }
    ],
    "presets": [
        {
            "name": "Main Product"
        }
    ]
}
{% endschema %}