{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

{%- render 'vite' with '@sectionStyles/_password.scss' -%}

{% if section.settings.overlay_background != blank %}
    <div class="section-password__overlay" style="background:{{ section.settings.overlay_background }}"></div>
{% endif %}

{% if section.settings.background_image != blank %}
    <div class="section-password__background" {% if section.settings.background_image != blank %} style="background-image: url({{ section.settings.background_image | img_url: "master" }});"{% endif %}></div>
{% endif %}

<div class="wrap wrap--medium wrap--{{ section_id }}">
    <div class="section-password__inner">
      <div class="section-password__content">
        <div class="section-password__text">
          <h1 class="large">{{ section.settings.title }}</h1>
          <p>{{ section.settings.text }}</p>
        </div>
        <div class="section-password__text hidden">
          <h2 class="large">{{ section.settings.login_title }}</h2>
        </div>
        <div class="section-password__actions">
          <div class="section-password__form section-password__form--signup">
            {% form 'customer', class: "form" %}
              {% if form.posted_successfully %}
                <p>{{ 'forms.signup_success' | t }}</p>
              {% else %}
                {{ form.errors | default_errors }}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="form-row form-row--full">
                  <label for="ContactFormEmail" class="required">{{ 'forms.email' | t }}</label>
                  <input type="email" id="ContactFormEmail" name="contact[email]" required="required" placeholder="{{ 'forms.email' | t }}">
                </div>
                <div class="form-row form-row--actions">
                  <button type="submit" class="button button--white"><span>{{ 'forms.submit' | t }}</span></button>
                </div>
              {% endif %}
            {% endform %}
            <a href="#" class="password-toggle password-login button-text button-text--underline button-text--white"><span>{{ 'forms.have_password' | t }}</span></a>
          </div>
          <div class="section-password__form section-password__form--login hidden">
            {% form 'storefront_password', class: "form" %}
              {{ form.errors | default_errors }}
              <div class="form-row form-row--full">
                <label for="password" class="required">{{ 'forms.password' | t }}</label>
                <input type="password" name="password" id="password" placeholder="{{ 'forms.password' | t }}" autofocus required="required">
                <span class="reveal-password-icon">{% render 'icon-eye.svg' %}</span>
              </div>
              <div class="form-row form-row--actions">
                <button type="submit" name="commit" class="button button--white"><span>{{ 'forms.login' | t }}</span></button>
              </div>
            {% endform %}
            <a href="#" class="password-toggle password-cancel button-text button-text--white"><span>{{ 'accessibility.cancel' | t }}</span></a>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
  let loginToggle = document.querySelectorAll('.password-toggle');
  for (const toggle of loginToggle) 
    toggle.addEventListener('click', e => {
      e.preventDefault();
      const elements = document.querySelectorAll('.section-password__form, .section-password__text');
      if (elements) for (const el of elements) el.classList.toggle('hidden');
    });

    const togglePasswordInputVisiblity = () => {
        const passwordEl = document.getElementById('password');
        const revealPasswordIcon = document.querySelector('.reveal-password-icon');
        if (!passwordEl || !revealPasswordIcon) return;

        let type = passwordEl.type;

        revealPasswordIcon.addEventListener('click', function() {
            if (passwordEl.type === 'password') {
                passwordEl.type = 'text';
            } else {
                passwordEl.type = 'password';
            }
        });
    }
    document.addEventListener('DOMContentLoaded', function() {
        togglePasswordInputVisiblity();
    });
</script>

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "section-password",
  "settings": [
    {
      "type": "header",
      "content": "Sign up"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "New website incoming"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "We’re in the process of finalising our new website to enhance your experience with us. To be one of the first to know when it goes live, register your email below."
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
        "type": "color_background",
        "id": "overlay_background",
        "label": "Overlay"
    },
    {
      "type": "header",
      "content": "Login"
    },
    {
      "type": "text",
      "id": "login_title",
      "label": "Title",
      "default": "Access via password"
    },
    {
      "type": "header",
      "content": "Desktop padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 128,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 96
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 128,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 96
    },
    {
      "type": "header",
      "content": "Mobile padding"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 128,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 64
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 128,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 64
    }
  ]
}
{% endschema %}
