{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

{%- render 'vite' with '@sectionStyles/_404.scss' -%}

<div class="wrap wrap--small wrap--{{ section_id }}">
    <div class="section-main-404__inner">
        <div class="section-main-404__content">
             {% if section.settings.label != blank %}
                <span class="section-main-404__content-label">{{ section.settings.label }}</span>
            {% endif %}
            {% if section.settings.title != blank %}
                <h1>{{ section.settings.title }}</h1>
            {% endif %}
            {% if section.settings.text != blank %}
                <p>{{ section.settings.text }}</p>
            {% endif %}
        </div>
        <div class="section-main-404__actions">
            <a class="button button--primary" aria-label="{{ "general.404.go_home" | t }}" href="{{ routes.root_url }}"><span>{{ "general.404.go_home" | t }}</span></a>
            <button onclick="window.history.back();" class="button button--primary" aria-label="{{ "general.404.take_a_step_back" | t }}"><span>{{ "general.404.take_a_step_back" | t }}</span></button>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Main 404",
    "tag": "section",
    "class": "section-main-404",
    "settings": [
        {
            "type": "text",
            "id": "label",
            "label": "Label",
            "default": "404 ERROR"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Page Not Found"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "It seems this page has taken a little time out. Head back to our homepage to keep browsing the cutest baby essentials."
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ],
    "presets": [
        {
            "name": "Main 404"
        }
    ]
}
{% endschema %}