{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

{% if section.blocks.size > 0 %}
    {%- render 'vite' with '@sectionStyles/_manual-reviews-slider.scss' -%}
    {%- render 'vite' with '@@/components/manual-reviews-slider.js' -%}

    <div class="section-manual-reviews-slider__container" style="background-color: {{ section.settings.background_color }};">
        <div class="wrap wrap-x-large wrap--no-padding wrap--{{ section_id }}">
            <div class="section-manual-reviews-slider__inner">
                <div class="section-manual-reviews-slider__image">
                    {% if section.settings.image != blank %}
                        {% render 'responsive-image', width: 1800, source: section.settings.image.src, alt: section.settings.image.alt %}
                        <div class="image-overlay" style="background:{{ section.settings.image_overlay }}"></div>
                    {% endif %}
                </div>
                <div class="section-manual-reviews-slider__slider">
                    <div class="swiper swiper-{{ section_id }}">
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                                <div class="swiper-slide">
                                    <div class="section-manual-reviews-slider__slider-item">
                                       <div class="review-stars">
                                            {% for i in (1..block.settings.review_stars) %}
                                                {% render 'icon-review-star.svg' %}
                                            {% endfor %}
                                        </div>
                                        <h4 style="color: {{ section.settings.text_color }}">{{ block.settings.title }}</h4>
                                        <div style="color: {{ section.settings.text_color }}">{{ block.settings.text }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="swiper-actions">
                    {% if section.settings.enable_pagination and section.blocks.size > 1 %}
                        <div class="swiper-pagination swiper-pagination-{{ section_id }}"></div>
                    {% endif %}
                    {% if section.settings.enable_navigation and section.blocks.size > 1 %}
                        <div class="swiper-navigation">
                            <div class="swiper-button-prev swiper-button-prev-{{ section_id }}"></div>
                            <div class="swiper-button-next swiper-button-next-{{ section_id }}"></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        const manualReviewsSliderData = {
            section_id: {{ section_id | json }},
            size: {{ section.blocks.size | json }},
            speed: {{ section.settings.speed | json }},
            enable_pagination: {{ section.settings.enable_pagination | json }},
            enable_navigation: {{ section.settings.enable_navigation | json }},
        };

        window.addEventListener('DOMContentLoaded', function() {
            window.init_manual_reviews_slider(manualReviewsSliderData);
        });
        if (Shopify.designMode) {
            document.addEventListener('shopify:section:load', function() {
                window.init_manual_reviews_slider(manualReviewsSliderData);
            });
        };
    </script>
{% endif %}

{% schema %}
{
    "name": "Manual Reviews Slider",
    "tag": "section",
    "class": "section-manual-reviews-slider",
    "blocks": [
        {
            "name": "Review",
            "type": "review",
            "settings": [
                {
                    "type": "range",
                    "id": "review_stars",
                    "label": "Review Stars",
                    "max": 5,
                    "min": 1,
                    "step": 1,
                    "default": 1
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Review title goes here"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "color_background",
            "id": "image_overlay",
            "label": "Image Overlay",
            "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 100%)"
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Colour",
            "options": [
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                },
                {
                    "label": "Transactional",
                    "value": "var(--color-transactional)"
                },
                {
                    "label": "Black",
                    "value": "var(--color-black)"
                },
                {
                    "label": "White",
                    "value": "var(--color-white)"
                }
            ],
            "default": "var(--color-primary)"
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "options": [
                {
                    "label": "White",
                    "value": "var(--color-white)"
                },
                {
                    "label": "Grey",
                    "value": "var(--color-grey)"
                },
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                }
            ],
            "default": "var(--color-white)"
        },
        {
            "type": "header",
            "content": "Swiper Settings"
        },
        {
            "type": "checkbox",
            "id": "enable_pagination",
            "label": "Enable Pagination",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_navigation",
            "label": "Enable Navigation",
            "default": true
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ],
    "presets": [
        {
            "name": "Manual Reviews Slider"
        }
    ]
}
{% endschema %}