
{%- if predictive_search.performed -%}
<div id="predictive-search-results" class="predictive-search">
    <div class="predictive-search__header">
      <span class="predictive-search__results--size">{{ predictive_search.resources.products.size }} {{ 'search.results' | t }}</span>
      {% if predictive_search.resources.products.size > 0 %}
              <div class="predictive-search__results--button" role="option">
                  <button class="button-text button-text--primary" tabindex="-1" type="button" id="searchbutton">
                      <span>{{ 'search.show_all' | t }}</span>
                  </button>
              </div>
      {% endif %}
    </div>
    <div class="predictive-search__inner">
      <div class="predictive-search__pages">

        <div>
            <p class="predictive-search__pages-header">{{ 'sections.search.drawer.collections' | t }}</p>
            {% if predictive_search.resources.collections.size < 1 %}
            <p class="no-results">{{ 'sections.search.drawer.no_results' | t }} “{{ predictive_search.terms }}”</p>
            {% else %}
            <ul id="predictive-search-results-list" class="predictive-search__results predictive-search__results--pages" role="listbox" aria-labelledby="predictive-search-collections">
            {% for collection in predictive_search.resources.collections limit: 4 %}
                <li class="predictive-search__result predictive-search__result--page predictive-search__result--{% increment page_count %}" role="option">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div> 
  
       <div>
         <p class="predictive-search__pages-header">{{ 'sections.search.drawer.blogs' | t }}</p>
        {% if predictive_search.resources.articles.size < 1 %}
          <p class="no-results">{{ 'sections.search.drawer.no_results' | t }} “{{ predictive_search.terms }}”</p>
        {% else %}
          <ul id="predictive-search-results-list" class="predictive-search__results predictive-search__results--pages" role="listbox" aria-labelledby="predictive-search-articles">
          {% for article in predictive_search.resources.articles limit: 4 %}
            <li class="predictive-search__result predictive-search__result--page predictive-search__result--{% increment page_count %}" role="option">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
       </div>

      </div>
      <div class="predictive-search__products">
        <div class="predictive-search__pages-header">
          <p>{{ 'sections.search.drawer.products' | t }}</p>
        </div>
        {% if predictive_search.resources.products.size < 1 %}
          <p class="no-results">{{ 'sections.search.drawer.no_results' | t }} “{{ predictive_search.terms }}”</p>
        {% else %}
          <ul id="predictive-search-results-list" class="predictive-search__results" role="listbox" aria-labelledby="predictive-search-products">
          {% for product in predictive_search.resources.products limit: 4 %}
            <li class="predictive-search__result predictive-search__result--product predictive-search__result--{% increment product_count %}" role="option">
              {% unless product.metafields.seo.hidden == 1 %}
                {% render "card-product", product: product %}
              {% endunless %}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
</div>
{% endif %}