{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

{%- render 'vite' with '@sectionStyles/_frequently-asked-questions.scss' -%}
{%- render 'vite' with '@@/components/frequently-asked-questions.js' -%}

{% assign faq_group = product.metafields.cake.faqs.value %}

{% if faq_group != blank or section.blocks.size > 0 %}
    <div class="section-frequently-asked-questions__container" style="background-color: {{ section.settings.background_color }};">
        <div class="wrap wrap--x-large wrap--{{ section_id }}">
            <div class="section-frequently-asked-questions__inner">
                <div class="section-frequently-asked-questions__faqs">
                    <div class="section-frequently-asked-questions__faqs-header">
                        {% if section.settings.title != blank %}
                            <h4>{{ section.settings.title }}</h4>
                        {% endif %}
                        {% if section.settings.label != blank %}
                            <div class="header-label">{% if section.settings.label_icon != blank %}{{ section.settings.label_icon.src | image_url: width: 50, crop: "center" | image_tag: alt: section.settings.label_icon.alt, width: 18 }}{% endif %}{{ section.settings.label }}</div> 
                        {% endif %}
                    </div>
                    <div class="section-frequently-asked-questions__faqs-entries">
                        {% if faq_group != blank %}
                            {% for faq_entry in faq_group.entries.value %}
                                <div class="faqs-item faqs-item--{{ section_id }}">
                                    <div class="faqs-item__question"><span>{{ faq_entry.question }}</span>{% render 'icon-chevron.svg' %}</div>
                                    <div class="faqs-item__answer">{{ faq_entry.answer | metafield_tag }}</div>
                                </div>
                            {% endfor %}
                        {% elsif section.blocks.size > 1 %}
                            {% for block in section.blocks %}
                                <div class="faqs-item faqs-item--{{ section_id }}">
                                    <div class="faqs-item__question"><span>{{ block.settings.question }}</span>{% render 'icon-chevron.svg' %}</div>
                                    <div class="faqs-item__answer">{{ block.settings.answer }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="section-frequently-asked-questions__media">
                    {% if section.settings.image != blank %}
                        <div class="image-wrapper">
                            {% render 'responsive-image', width: 2028, source: section.settings.image.src, alt: section.settings.image.alt %}
                        </div>
                        <div class="image-overlay" style="background:{{ section.settings.image_overlay }}"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            window.handle_faqs({{ section_id | json }});
        });
        if (Shopify.designMode) {
            document.addEventListener('shopify:section:load', function() {
                window.handle_faqs({{ section_id | json }});
            });
        };
    </script>
{% endif %}

{% schema %}
{
    "name": "Product FAQs",
    "tag": "section",
    "class": "section-frequently-asked-questions",
    "blocks": [
        {
            "name": "FAQ",
            "type": "faq",
            "limit": 8,
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question",
                    "default": "Question here"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer",
                    "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "FAQs"
        },
        {
            "type": "richtext",
            "id": "label",
            "label": "Label"
        },
        {
            "type": "image_picker",
            "id": "label_icon",
            "label": "Label Icon"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "flip_image",
            "label": "Flip Image",
            "info": "Move Image to left",
            "default": false
        },
        {
            "type": "color_background",
            "id": "image_overlay",
            "label": "Image Overlay"
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "options": [
                {
                    "label": "White",
                    "value": "var(--color-white)"
                },
                {
                    "label": "Grey",
                    "value": "var(--color-grey)"
                },
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                },
                {
                    "label": "Heritage",
                    "value": "var(--color-heritage)"
                }
            ],
            "default": "var(--color-primary)"
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "options": [
                {
                    "label": "White",
                    "value": "var(--color-white)"
                },
                {
                    "label": "Grey",
                    "value": "var(--color-grey)"
                },
                {
                    "label": "Primary",
                    "value": "var(--color-primary)"
                },
                {
                    "label": "Secondary",
                    "value": "var(--color-secondary)"
                },
                {
                    "label": "Tertiary",
                    "value": "var(--color-tertiary)"
                },
                {
                    "label": "Heritage",
                    "value": "var(--color-heritage)"
                }
            ],
            "default": "var(--color-white)"
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ],
    "presets": [
        {
            "name": "Product FAQs"
        }
    ],
    "templates": ["product"]
}
{% endschema %}