{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

{%- render 'vite' with '@sectionStyles/_product-comparison.scss' -%}

<div class="wrap wrap--x-large wrap--{{ section_id }}">
    <div class="section-product-comparison__inner">
        <div class="section-product-comparison__header">
            <div class="section-product-comparison__counter">
                <span id="comparison-count">0/3</span> <span>{{ "products.product.comparison" | t }}</span>
            </div>
            <div class="section-product-comparison__cards"></div>
        </div>
        <div class="section-product-comparison__table">
            <div class="section-product-comparison__table-labels">
                <div class="section-product-comparison__label">{{ "products.product.weight" | t }}</div>
                <div class="section-product-comparison__label">{{ "products.product.age_of_child" | t }}</div>
                <div class="section-product-comparison__label">{{ "products.product.height_of_child" | t }}</div>
                <div class="section-product-comparison__label">{{ "products.product.weight_of_child" | t }}</div>
                <div class="section-product-comparison__label">{{ "products.product.rotation" | t }}</div>
                <div class="section-product-comparison__label">{{ "products.product.removable_cover" | t }}</div>
                <div class="section-product-comparison__label">{{ "products.product.resting_reclining_positions" | t }}</div>
                <div class="section-product-comparison__label">{{ "products.product.harness_positions" | t }}</div>
                <div class="section-product-comparison__label">{{ "products.product.i_size_compliant" | t }}</div>
            </div>
            <div class="section-product-comparison__table-columns">
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product Comparison",
    "tag": "section",
    "class": "section-product-comparison",
    "settings": [
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ]
}
{% endschema %}